main {
    position: relative;
    width: 100%;
    /* height: calc(100vh - 123px); */
    height: auto;
    overflow: auto;
}

main .banner,
main .ofertas,
main .cartoes-oferta {
    position: relative;
    height: auto;
    width: 100%;
}

main .cartoes-oferta{
    margin-bottom: 50px;
}

main .banner img.banner-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

main .ofertas h3 {
    font-size: 28px;
    line-height: 1.5em;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #646464;
}

main .cartoes-oferta .cartao {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 3px 15px -1px #0006;
    background:#fff;
    margin: 10px;
}

main .cartoes-oferta .cartao .img {
    padding-top: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
main .cartoes-oferta .cartao h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #005a93;
    font-size: 16px;
    line-height: 1.1em;
    padding: 0 20px;
    text-align: center;
}
main .cartoes-oferta .cartao .valor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #005a93;
    font-size: 26px;
    line-height: 1em;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
}

main .cartoes-oferta .cartao sub,
main .cartoes-oferta .cartao sup,
main .cartoes-oferta .cartao span{
    font-size: 0.5em;
}

main .contato {
    position: relative;
    background: #005a93;
    padding: 20px;
    width: 100%;
    float: left;
    margin: 20px 0;
}

main .contato .texto,
main .contato .formulario,
main .contato .botao{
    position: relative;
    width: 33.33%;
    height: auto;
    margin: 0;
    padding: 20px;
    float: left;
    height: 200px;
}

main .contato .texto h2{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
main .contato .texto P{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main .contato .formulario input{
    width: 100%;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    border-radius: 20px;
    padding: 0 15px;
    font-style: italic;
    font-size: 18px;
    border:none;
    box-shadow: 0 1px 0 2px #00000045;
    margin-top: 30px;
}

main .contato .botao button {
    width: 100%;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    border-radius: 20px;
    padding: 0 15px;
    font-style: italic;
    font-size: 18px;
    border:none;
    box-shadow: 0 1px 0 2px #00000045;
    margin-top: 60px;
    background: #f7a521;
}
